
*{
	font-family: 'Cabin', sans-serif;
}

/*NAVBAR*/

.navbar {
	height: 108px;
	margin-bottom: 4px;
	
	background-color: white;
	/*box-shadow: 1px 1px 3px 2px #618183;*/
	border-radius: 0;
}

#O{
	color:#EEBC1D;
	display: inline-block;
	font-size: 75px;
	margin-left: 10px;
	font-weight: bold;
}

#O-foot{
	color:#EEBC1D;
	display: inline-block;
	font-size: 75px;
	margin-left: 10px;
	font-weight: bold;
}

.navbar-collapse{
	background-color: white;
}

.navbar-toggle{
	height: 50px;
	margin-top: 28px;
	border: 2px solid rgb(31,31,31);
	background-color: white;
}

.navbar-toggle span {
	color:white;
}

nav a {
	height: 50px;
	
}


nav li {
	height: 50px;
	margin-top: 40px;
	font-size: 17px;
	font-weight: bold;
}



/*HOME*/
.home {
	/*background-image: linear-gradient(180deg, rgba(255,255,255,0) 50%, #fff),linear-gradient(70deg, #EBEBEB 42%, #EBEBEB);*/
	margin-top: 80px;
	vertical-align: middle;

	
}

.front{

	margin-top: 20px;
	
}

.circle{
   
	display: block;    
  	z-index: 2;
 	height: 666px;	
  	margin:0 auto;
  	position: relative;
}

.ripple {
	position: absolute;
	height: 410px;
	top: 51%;
    left: 50%;
    
    transform: translate(-50%, -50%) ;

}


.head{
	display: hidden;
    position: absolute;
    z-index: 3;
    top: 47%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
   	height: 300px;

}

.headleft{
	margin-left: -260px;
	

}

.headright{
	margin-left: 260px;

}

.rowa{
	margin-top: 100px;
}

.paragraph {
	padding: 40px;
	border-left: 10px solid #2e6da4;
	margin-top: 80px;
}

.paragraph h1 {
	font-size: 3.75em;
	font-weight: bolder;
	
	margin: 0;

}
.paragraph p {
	font-size: 2.5em;
	letter-spacing: 1.7px;	
	line-height: 1.4;	
	
    

}

.bot{
	padding-bottom: 30px;
}



/*ABOUT*/

.leftsideborder{
	border-left: 10px solid #2e6da4;
	height:300px;
	vertical-align: middle;
}

.about{
	margin-top: 100px;

}



.about p {
	font-size: 2.5em;
	letter-spacing: 1.7px;	
	text-align: left;	
	line-height: 1.4;	

}	

.talk {		
	height: 500px;

}

.bolder{
	font-weight: bolder;
}


/*LAST*/

.last{
	margin-top: 300px;

}


.eye{
	margin-bottom: 75px;
	width: 100%;
}


.carousel-title{
	text-align: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 50%;
  margin: auto;
  
}

.carousel-inner{
	margin-bottom: 50px;
	border-left:10px solid #2e6da4;
	border-right:10px solid #2e6da4;
	height: 350px;

}

.carousel-caption{
	margin-bottom: -80px;
	color:black;
}

.glyphicon{
	color:#EEBC1D;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img {
	width: 300px;


}
/*FOOTER*/
.footer {


	background: #E0EAFC; 
 	background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); 
	background: linear-gradient(to left, #E0EAFC , #CFDEF3); 
	border-top: 1px solid grey;
	font-size: 20px;
	height: 100%;
	font-weight: 

	
	
}

#O-foot{
	color:#EEBC1D;
	display: inline-block;
	font-size: 130px;
	margin-left: 10px;
}


.footer ul > li {
	display: inline;
	margin-top: 10px;
}

.footer i {
	height: 10px;
}

.media {
	width: 100%;
}

#email{
	width: 300px;
}

.footer-right{
	padding: 20px;

}

.footer-right p {
	margin-top: 30px;
	font-size: 12px;
}

#center-footer{
	margin-top: 20px;

}
@media only screen and (max-width: 500px){
   
    .head{
    	display: none;
    }
 }  